$white: #fff;
$grey: #CCCCCC;
$blue: #2F80ED;
$soft-blue: #9CB7C9;
$black: #000;

$transparent: transparent;
$flex: flex;
$block: block;

$small:16px;
$medium:24px;


.App {
  text-align: center;
}

.App-header {
  background-color: $transparent;
  top: 55px;
  left: 127px;
  position: absolute;
  display: $flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: $white;
  .App-appbar {
    display: $flex;
    align-items: center;
    .App-textBar {
      display: $block;
      text-align: left;
      margin-left: 16px;
      h5 {
        margin: 0px;
        font-size: $medium;
      }
      p {
        margin: 0;
        font-size: $small;
        color: $grey;
      }
    }
  }
  .App-navBar {
    margin-left: 238px;
    span {
      p {
        margin-right: 68px;
      }
      display: $flex;
    }
  }
  .App-authBar {
    text-align: center;
    margin-left: 238px;
    span {
      p {
        text-align: center;
        margin-left: 68px;
      }
      display: $flex;
    }
  }
}

.btn {
  width: auto;
  padding: 0 24px;
  height: 44px;
  border-radius: 40px;
  border: 0px;
  margin-left: 68px;
}

.App-btnBlue {
  background: $blue;
  color: $white;
}

.App-btnWhite {
  background: $white;
  color: $black;
}

.App-positionAbs {
  position: absolute;
  left: 30%;
  top: 25%;
  h1 {
    color: $white;
  }
}

.App-titleHeader {
  color: $soft-blue;
}

.App-bg {
  width: 98%;
  margin-top: 17.5px;
  margin-left: 17px;
  margin-right: 17px;
  background-size: cover;
}
